* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #121212; */
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #2237c3;
  background: linear-gradient(
    72deg,
    rgba(34, 55, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  color: aliceblue;
  font-size: 16px;
}

.container {
  background-color: #4a4e69;
  width: 500px;
  height: auto;
  border: 2px solid black;
  margin: 10px;
}

.input {
  width: 100%;
}

.heading {
  font-size: 2rem;
  text-align: center;
}

.inputField {
  width: 100%;
  margin: 15px;
}

#inputEl {
  width: 85%;
  padding: 10px;
}

p {
  margin: 20px;
  display: inline-block;
  font-size: 1rem;
}

#outputEl > ul {
  width: auto;
  margin: 20px;
}

ul {
  list-style-type: none;
}

/* #outputEl > ul > li {
  display: flex; 
} */

/* Utility Classes */

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.btn {
  /* margin: 10px; */
  padding: 10px;
  border: 1px solid #121212;
  border-radius: 10px;
  background-color: #22223b;
  display: inline-block;
  color: whitesmoke;
}
